ee242_finalparta_caglaminametin/ee242_parta_caglaminametin.json
[
    {
        "id": "7b9ed63e.2138f8",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "1ebbb430.dac7dc",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "myChart",
        "order": 4,
        "width": 15,
        "height": 9,
        "chartType": "line",
        "curveType": "linear",
        "duration": "15",
        "ymin": "",
        "ymax": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "6013fb0b.5b7504",
        "type": "acquisition out",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_Out",
        "probeconfig": "036d962c9a1cddcb",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "4a573fb0.4bc99",
        "type": "acquisition in",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_In",
        "probeconfig": "036d962c9a1cddcb",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "a7c3e070.5a6c"
            ],
            []
        ]
    },
    {
        "id": "d59587ff.cd1748",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "accesspoint": 0,
        "execonfig": "cc30b0aadbe7e14b",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "Temperature",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1685216279465,
        "openStatus": true,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "6013fb0b.5b7504"
            ],
            [
                "f14d0398.f1861"
            ]
        ]
    },
    {
        "id": "fc00295e.79ada8",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Clear Graphs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ]
        ]
    },
    {
        "id": "5fd51c96.2330e4",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "52eadfe3.2c8cc",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "a7c3e070.5a6c",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "logformat": "stcm",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ],
            []
        ]
    },
    {
        "id": "f14d0398.f1861",
        "type": "ui_toast",
        "z": "7b9ed63e.2138f8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "036d962c9a1cddcb",
        "type": "probe",
        "probeid": "066CFF484987534867044609",
        "probename": "ST-Link v2-1B 066CFF484987534867044609",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J37",
        "connectionType": "p2p",
        "nickname": "Stm32"
    },
    {
        "id": "cc30b0aadbe7e14b",
        "type": "exe-config",
        "name": "Temp",
        "exefile": "/Users/caglaminametin/STM32CubeIDE/springmt_deneme2/Debug/springmt_deneme2.elf",
        "exefolder": "/Users/caglaminametin/STM32CubeIDE/springmt_deneme2/Debug",
        "exevariablelist": [
            {
                "address": "0x20000404",
                "name": "__sbrk_heap_end",
                "type": 5
            },
            {
                "address": "0x200003dc",
                "name": "Adc_1[0]",
                "type": 3
            },
            {
                "address": "0x200003e0",
                "name": "AdcConvCmplt",
                "type": 1
            },
            {
                "address": "0x0800dff4",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000095",
                "name": "CDCCmdEpAdd",
                "type": 1
            },
            {
                "address": "0x20000093",
                "name": "CDCInEpAdd",
                "type": 1
            },
            {
                "address": "0x20000094",
                "name": "CDCOutEpAdd",
                "type": 1
            },
            {
                "address": "0x200000c0",
                "name": "FS_Desc.GetConfigurationStrDescriptor",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "FS_Desc.GetDeviceDescriptor",
                "type": 5
            },
            {
                "address": "0x200000c4",
                "name": "FS_Desc.GetInterfaceStrDescriptor",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "FS_Desc.GetLangIDStrDescriptor",
                "type": 5
            },
            {
                "address": "0x200000b4",
                "name": "FS_Desc.GetManufacturerStrDescriptor",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "FS_Desc.GetProductStrDescriptor",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "FS_Desc.GetSerialStrDescriptor",
                "type": 5
            },
            {
                "address": "0x20000324",
                "name": "hadc1.DMA_Handle",
                "type": 5
            },
            {
                "address": "0x20000330",
                "name": "hadc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200002f0",
                "name": "hadc1.Init.ClockPrescaler",
                "type": 5
            },
            {
                "address": "0x20000304",
                "name": "hadc1.Init.ContinuousConvMode",
                "type": 2
            },
            {
                "address": "0x200002f8",
                "name": "hadc1.Init.DataAlign",
                "type": 5
            },
            {
                "address": "0x2000030c",
                "name": "hadc1.Init.DiscontinuousConvMode",
                "type": 2
            },
            {
                "address": "0x2000031c",
                "name": "hadc1.Init.DMAContinuousRequests",
                "type": 2
            },
            {
                "address": "0x20000300",
                "name": "hadc1.Init.EOCSelection",
                "type": 5
            },
            {
                "address": "0x20000314",
                "name": "hadc1.Init.ExternalTrigConv",
                "type": 5
            },
            {
                "address": "0x20000318",
                "name": "hadc1.Init.ExternalTrigConvEdge",
                "type": 5
            },
            {
                "address": "0x20000308",
                "name": "hadc1.Init.NbrOfConversion",
                "type": 5
            },
            {
                "address": "0x20000310",
                "name": "hadc1.Init.NbrOfDiscConversion",
                "type": 5
            },
            {
                "address": "0x200002f4",
                "name": "hadc1.Init.Resolution",
                "type": 5
            },
            {
                "address": "0x200002fc",
                "name": "hadc1.Init.ScanConvMode",
                "type": 5
            },
            {
                "address": "0x200002ec",
                "name": "hadc1.Instance",
                "type": 5
            },
            {
                "address": "0x20000328",
                "name": "hadc1.Lock",
                "type": 2
            },
            {
                "address": "0x20000320",
                "name": "hadc1.NbrOfCurrentConversionRank",
                "type": 5
            },
            {
                "address": "0x2000032c",
                "name": "hadc1.State",
                "type": 5
            },
            {
                "address": "0x20000388",
                "name": "hdma_adc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000338",
                "name": "hdma_adc1.Init.Channel",
                "type": 5
            },
            {
                "address": "0x2000033c",
                "name": "hdma_adc1.Init.Direction",
                "type": 5
            },
            {
                "address": "0x20000358",
                "name": "hdma_adc1.Init.FIFOMode",
                "type": 5
            },
            {
                "address": "0x2000035c",
                "name": "hdma_adc1.Init.FIFOThreshold",
                "type": 5
            },
            {
                "address": "0x20000360",
                "name": "hdma_adc1.Init.MemBurst",
                "type": 5
            },
            {
                "address": "0x2000034c",
                "name": "hdma_adc1.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000344",
                "name": "hdma_adc1.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x20000350",
                "name": "hdma_adc1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20000364",
                "name": "hdma_adc1.Init.PeriphBurst",
                "type": 5
            },
            {
                "address": "0x20000348",
                "name": "hdma_adc1.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x20000340",
                "name": "hdma_adc1.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20000354",
                "name": "hdma_adc1.Init.Priority",
                "type": 5
            },
            {
                "address": "0x20000334",
                "name": "hdma_adc1.Instance",
                "type": 5
            },
            {
                "address": "0x20000368",
                "name": "hdma_adc1.Lock",
                "type": 2
            },
            {
                "address": "0x2000036c",
                "name": "hdma_adc1.Parent",
                "type": 5
            },
            {
                "address": "0x20000369",
                "name": "hdma_adc1.State",
                "type": 2
            },
            {
                "address": "0x2000038c",
                "name": "hdma_adc1.StreamBaseAddress",
                "type": 5
            },
            {
                "address": "0x20000390",
                "name": "hdma_adc1.StreamIndex",
                "type": 5
            },
            {
                "address": "0x20000384",
                "name": "hdma_adc1.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x20000370",
                "name": "hdma_adc1.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000380",
                "name": "hdma_adc1.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x20000374",
                "name": "hdma_adc1.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x20000378",
                "name": "hdma_adc1.XferM1CpltCallback",
                "type": 5
            },
            {
                "address": "0x2000037c",
                "name": "hdma_adc1.XferM1HalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x20001df0",
                "name": "hpcd_USB_OTG_FS.battery_charging_active",
                "type": 5
            },
            {
                "address": "0x20001de4",
                "name": "hpcd_USB_OTG_FS.BESL",
                "type": 5
            },
            {
                "address": "0x20001dac",
                "name": "hpcd_USB_OTG_FS.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20001de8",
                "name": "hpcd_USB_OTG_FS.FrameNumber",
                "type": 5
            },
            {
                "address": "0x2000192d",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].data_pid_start",
                "type": 1
            },
            {
                "address": "0x2000193c",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].dma_addr",
                "type": 5
            },
            {
                "address": "0x2000192e",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].even_odd_frame",
                "type": 1
            },
            {
                "address": "0x20001929",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].is_in",
                "type": 1
            },
            {
                "address": "0x2000192b",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].is_iso_incomplete",
                "type": 1
            },
            {
                "address": "0x2000192a",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].is_stall",
                "type": 1
            },
            {
                "address": "0x20001934",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].maxpacket",
                "type": 5
            },
            {
                "address": "0x20001928",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].num",
                "type": 1
            },
            {
                "address": "0x20001930",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].tx_fifo_num",
                "type": 3
            },
            {
                "address": "0x2000192c",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].type",
                "type": 1
            },
            {
                "address": "0x20001938",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].xfer_buff",
                "type": 5
            },
            {
                "address": "0x20001948",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].xfer_count",
                "type": 5
            },
            {
                "address": "0x20001940",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].xfer_len",
                "type": 5
            },
            {
                "address": "0x20001944",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].xfer_size",
                "type": 5
            },
            {
                "address": "0x20001914",
                "name": "hpcd_USB_OTG_FS.Init.battery_charging_enable",
                "type": 5
            },
            {
                "address": "0x200018f0",
                "name": "hpcd_USB_OTG_FS.Init.dev_endpoints",
                "type": 5
            },
            {
                "address": "0x200018fc",
                "name": "hpcd_USB_OTG_FS.Init.dma_enable",
                "type": 5
            },
            {
                "address": "0x20001900",
                "name": "hpcd_USB_OTG_FS.Init.ep0_mps",
                "type": 5
            },
            {
                "address": "0x200018f4",
                "name": "hpcd_USB_OTG_FS.Init.Host_channels",
                "type": 5
            },
            {
                "address": "0x2000190c",
                "name": "hpcd_USB_OTG_FS.Init.low_power_enable",
                "type": 5
            },
            {
                "address": "0x20001910",
                "name": "hpcd_USB_OTG_FS.Init.lpm_enable",
                "type": 5
            },
            {
                "address": "0x20001904",
                "name": "hpcd_USB_OTG_FS.Init.phy_itface",
                "type": 5
            },
            {
                "address": "0x20001908",
                "name": "hpcd_USB_OTG_FS.Init.Sof_enable",
                "type": 5
            },
            {
                "address": "0x200018f8",
                "name": "hpcd_USB_OTG_FS.Init.speed",
                "type": 5
            },
            {
                "address": "0x2000191c",
                "name": "hpcd_USB_OTG_FS.Init.use_dedicated_ep1",
                "type": 5
            },
            {
                "address": "0x20001920",
                "name": "hpcd_USB_OTG_FS.Init.use_external_vbus",
                "type": 5
            },
            {
                "address": "0x20001918",
                "name": "hpcd_USB_OTG_FS.Init.vbus_sensing_enable",
                "type": 5
            },
            {
                "address": "0x200018ec",
                "name": "hpcd_USB_OTG_FS.Instance",
                "type": 5
            },
            {
                "address": "0x20001da8",
                "name": "hpcd_USB_OTG_FS.Lock",
                "type": 2
            },
            {
                "address": "0x20001dec",
                "name": "hpcd_USB_OTG_FS.lpm_active",
                "type": 5
            },
            {
                "address": "0x20001de0",
                "name": "hpcd_USB_OTG_FS.LPM_State",
                "type": 2
            },
            {
                "address": "0x20001b6d",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].data_pid_start",
                "type": 1
            },
            {
                "address": "0x20001b7c",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].dma_addr",
                "type": 5
            },
            {
                "address": "0x20001b6e",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].even_odd_frame",
                "type": 1
            },
            {
                "address": "0x20001b69",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].is_in",
                "type": 1
            },
            {
                "address": "0x20001b6b",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].is_iso_incomplete",
                "type": 1
            },
            {
                "address": "0x20001b6a",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].is_stall",
                "type": 1
            },
            {
                "address": "0x20001b74",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].maxpacket",
                "type": 5
            },
            {
                "address": "0x20001b68",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].num",
                "type": 1
            },
            {
                "address": "0x20001b70",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].tx_fifo_num",
                "type": 3
            },
            {
                "address": "0x20001b6c",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].type",
                "type": 1
            },
            {
                "address": "0x20001b78",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].xfer_buff",
                "type": 5
            },
            {
                "address": "0x20001b88",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].xfer_count",
                "type": 5
            },
            {
                "address": "0x20001b80",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].xfer_len",
                "type": 5
            },
            {
                "address": "0x20001b84",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].xfer_size",
                "type": 5
            },
            {
                "address": "0x20001df4",
                "name": "hpcd_USB_OTG_FS.pData",
                "type": 5
            },
            {
                "address": "0x20001db0",
                "name": "hpcd_USB_OTG_FS.Setup[0]",
                "type": 5
            },
            {
                "address": "0x20001da9",
                "name": "hpcd_USB_OTG_FS.State",
                "type": 2
            },
            {
                "address": "0x20001924",
                "name": "hpcd_USB_OTG_FS.USB_Address",
                "type": 1
            },
            {
                "address": "0x200003b0",
                "name": "htim3.Channel",
                "type": 2
            },
            {
                "address": "0x200003d6",
                "name": "htim3.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x200003d2",
                "name": "htim3.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x200003da",
                "name": "htim3.DMABurstState",
                "type": 2
            },
            {
                "address": "0x200003b4",
                "name": "htim3.hdma[0]",
                "type": 5
            },
            {
                "address": "0x200003ac",
                "name": "htim3.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x200003a4",
                "name": "htim3.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x2000039c",
                "name": "htim3.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x200003a0",
                "name": "htim3.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000398",
                "name": "htim3.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x200003a8",
                "name": "htim3.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000394",
                "name": "htim3.Instance",
                "type": 5
            },
            {
                "address": "0x200003d0",
                "name": "htim3.Lock",
                "type": 2
            },
            {
                "address": "0x200003d1",
                "name": "htim3.State",
                "type": 2
            },
            {
                "address": "0x200006e4",
                "name": "hUsbDeviceFS.classId",
                "type": 5
            },
            {
                "address": "0x200006b8",
                "name": "hUsbDeviceFS.ConfIdx",
                "type": 1
            },
            {
                "address": "0x200006ae",
                "name": "hUsbDeviceFS.dev_address",
                "type": 1
            },
            {
                "address": "0x20000414",
                "name": "hUsbDeviceFS.dev_config",
                "type": 5
            },
            {
                "address": "0x2000041c",
                "name": "hUsbDeviceFS.dev_config_status",
                "type": 5
            },
            {
                "address": "0x200006af",
                "name": "hUsbDeviceFS.dev_connection_status",
                "type": 1
            },
            {
                "address": "0x20000418",
                "name": "hUsbDeviceFS.dev_default_config",
                "type": 5
            },
            {
                "address": "0x200006ad",
                "name": "hUsbDeviceFS.dev_old_state",
                "type": 1
            },
            {
                "address": "0x200006b4",
                "name": "hUsbDeviceFS.dev_remote_wakeup",
                "type": 5
            },
            {
                "address": "0x20000420",
                "name": "hUsbDeviceFS.dev_speed",
                "type": 2
            },
            {
                "address": "0x200006ac",
                "name": "hUsbDeviceFS.dev_state",
                "type": 1
            },
            {
                "address": "0x200006b0",
                "name": "hUsbDeviceFS.dev_test_mode",
                "type": 1
            },
            {
                "address": "0x200006a8",
                "name": "hUsbDeviceFS.ep0_data_len",
                "type": 5
            },
            {
                "address": "0x200006a4",
                "name": "hUsbDeviceFS.ep0_state",
                "type": 5
            },
            {
                "address": "0x20000436",
                "name": "hUsbDeviceFS.ep_in[0].bInterval",
                "type": 3
            },
            {
                "address": "0x20000434",
                "name": "hUsbDeviceFS.ep_in[0].is_used",
                "type": 3
            },
            {
                "address": "0x20000430",
                "name": "hUsbDeviceFS.ep_in[0].maxpacket",
                "type": 5
            },
            {
                "address": "0x2000042c",
                "name": "hUsbDeviceFS.ep_in[0].rem_length",
                "type": 5
            },
            {
                "address": "0x20000424",
                "name": "hUsbDeviceFS.ep_in[0].status",
                "type": 5
            },
            {
                "address": "0x20000428",
                "name": "hUsbDeviceFS.ep_in[0].total_length",
                "type": 5
            },
            {
                "address": "0x20000576",
                "name": "hUsbDeviceFS.ep_out[0].bInterval",
                "type": 3
            },
            {
                "address": "0x20000574",
                "name": "hUsbDeviceFS.ep_out[0].is_used",
                "type": 3
            },
            {
                "address": "0x20000570",
                "name": "hUsbDeviceFS.ep_out[0].maxpacket",
                "type": 5
            },
            {
                "address": "0x2000056c",
                "name": "hUsbDeviceFS.ep_out[0].rem_length",
                "type": 5
            },
            {
                "address": "0x20000564",
                "name": "hUsbDeviceFS.ep_out[0].status",
                "type": 5
            },
            {
                "address": "0x20000568",
                "name": "hUsbDeviceFS.ep_out[0].total_length",
                "type": 5
            },
            {
                "address": "0x20000410",
                "name": "hUsbDeviceFS.id",
                "type": 1
            },
            {
                "address": "0x200006e8",
                "name": "hUsbDeviceFS.NumClasses",
                "type": 5
            },
            {
                "address": "0x200006dc",
                "name": "hUsbDeviceFS.pBosDesc",
                "type": 5
            },
            {
                "address": "0x200006c8",
                "name": "hUsbDeviceFS.pClass[0]",
                "type": 5
            },
            {
                "address": "0x200006cc",
                "name": "hUsbDeviceFS.pClassData",
                "type": 5
            },
            {
                "address": "0x200006d0",
                "name": "hUsbDeviceFS.pClassDataCmsit[0]",
                "type": 5
            },
            {
                "address": "0x200006e0",
                "name": "hUsbDeviceFS.pConfDesc",
                "type": 5
            },
            {
                "address": "0x200006d8",
                "name": "hUsbDeviceFS.pData",
                "type": 5
            },
            {
                "address": "0x200006c4",
                "name": "hUsbDeviceFS.pDesc",
                "type": 5
            },
            {
                "address": "0x200006d4",
                "name": "hUsbDeviceFS.pUserData[0]",
                "type": 5
            },
            {
                "address": "0x200006ba",
                "name": "hUsbDeviceFS.request.bmRequest",
                "type": 1
            },
            {
                "address": "0x200006bb",
                "name": "hUsbDeviceFS.request.bRequest",
                "type": 1
            },
            {
                "address": "0x200006be",
                "name": "hUsbDeviceFS.request.wIndex",
                "type": 3
            },
            {
                "address": "0x200006c0",
                "name": "hUsbDeviceFS.request.wLength",
                "type": 3
            },
            {
                "address": "0x200006bc",
                "name": "hUsbDeviceFS.request.wValue",
                "type": 3
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x200003f0",
                "name": "temp[0]",
                "type": 1
            },
            {
                "address": "0x200003e8",
                "name": "Temperature",
                "type": 10,
                "checked": true
            },
            {
                "address": "0x2000002c",
                "name": "USBD_CDC.DataIn",
                "type": 5
            },
            {
                "address": "0x20000030",
                "name": "USBD_CDC.DataOut",
                "type": 5
            },
            {
                "address": "0x2000001c",
                "name": "USBD_CDC.DeInit",
                "type": 5
            },
            {
                "address": "0x20000028",
                "name": "USBD_CDC.EP0_RxReady",
                "type": 5
            },
            {
                "address": "0x20000024",
                "name": "USBD_CDC.EP0_TxSent",
                "type": 5
            },
            {
                "address": "0x2000004c",
                "name": "USBD_CDC.GetDeviceQualifierDescriptor",
                "type": 5
            },
            {
                "address": "0x20000044",
                "name": "USBD_CDC.GetFSConfigDescriptor",
                "type": 5
            },
            {
                "address": "0x20000040",
                "name": "USBD_CDC.GetHSConfigDescriptor",
                "type": 5
            },
            {
                "address": "0x20000048",
                "name": "USBD_CDC.GetOtherSpeedConfigDescriptor",
                "type": 5
            },
            {
                "address": "0x20000018",
                "name": "USBD_CDC.Init",
                "type": 5
            },
            {
                "address": "0x20000038",
                "name": "USBD_CDC.IsoINIncomplete",
                "type": 5
            },
            {
                "address": "0x2000003c",
                "name": "USBD_CDC.IsoOUTIncomplete",
                "type": 5
            },
            {
                "address": "0x20000020",
                "name": "USBD_CDC.Setup",
                "type": 5
            },
            {
                "address": "0x20000034",
                "name": "USBD_CDC.SOF",
                "type": 5
            },
            {
                "address": "0x20000050",
                "name": "USBD_CDC_CfgDesc[0]",
                "type": 1
            },
            {
                "address": "0x2000000c",
                "name": "USBD_CDC_DeviceQualifierDesc[0]",
                "type": 1
            },
            {
                "address": "0x200000c8",
                "name": "USBD_FS_DeviceDesc[0]",
                "type": 1
            },
            {
                "address": "0x200000a0",
                "name": "USBD_Interface_fops_FS.Control",
                "type": 5
            },
            {
                "address": "0x2000009c",
                "name": "USBD_Interface_fops_FS.DeInit",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "USBD_Interface_fops_FS.Init",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "USBD_Interface_fops_FS.Receive",
                "type": 5
            },
            {
                "address": "0x200000a8",
                "name": "USBD_Interface_fops_FS.TransmitCplt",
                "type": 5
            },
            {
                "address": "0x200000dc",
                "name": "USBD_LangIDDesc[0]",
                "type": 1
            },
            {
                "address": "0x200016ec",
                "name": "USBD_StrDesc[0]",
                "type": 1
            },
            {
                "address": "0x200000e0",
                "name": "USBD_StringSerial[0]",
                "type": 1
            },
            {
                "address": "0x200006ec",
                "name": "UserRxBufferFS[0]",
                "type": 1
            },
            {
                "address": "0x20000eec",
                "name": "UserTxBufferFS[0]",
                "type": 1
            },
            {
                "address": "0x20000408",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            }
        ],
        "expand": false,
        "filename": "springmt_deneme2.elf",
        "exeModifiedTime": 1685213225762,
        "configLastUpdate": 1685216279063
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]